@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Roboto|Roboto+Mono|Ubuntu');

html{
  height: 100%;
  scroll-behavior: smooth;
}

body, head{
height: 100%;
width:100%;


    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Comfortaa', cursive;
}


h1{
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  text-align: center;
  margin: .5em;
}

h2{
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  text-align: center;
  margin: .5em;
}

p{
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
  font-size: 35px;
}


body{

  margin:0;
  padding:0;
  background-color: #fff;
}

aside{
  margin: 0 2em 0 0;
  width: 20%;
  position:fixed;
  padding: 0;
  height:100%;
  background-color: #424242;
  color:#dddddd;
}

nav ul {
  margin:0;
  padding:0;
}

nav ul li{
  text-decoration: none;
  list-style-type: none;
}

nav ul li a{
  margin: 0;
padding:1em .5em;
}

nav ul li ul{
  margin-left: 2em;
}

nav ul li a:hover{
  background-color: #009eff;
}

figure{
  padding:0;
  margin:0;
}

figcaption{
  padding:0;
  margin:0;
}

img{
  width:100%;
  margin:0;
}

main{
  margin: 0 0 0 20%;
  background-color: #555555;
  color:#fff;
}

#sideLogo{
  top:48px;
}




@media only screen and (min-width: 768px) {
  body{
    margin:0;
    display:grid;


  }


  main{

  }

  aside{
    grid-template-columns: auto;
    grid-auto-rows: 144px auto;
    padding: 0;
  }

  figure{

  }

  figcaption{display: none;}


  ul li a{
    display: block;
    cursor:pointer;
    margin-top: 2em;
    position: relative;

  }

  .cardgallery{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
  }

  #button_menu{display: none;}
  #sideLogo{}

  .illustration{
    width: 50%;
    margin: 25%;
  }

}
