      /* AstronomyHub stylesheet */


      /* EXTERNAL RESOURCES */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat|Roboto|Roboto+Mono|Ubuntu');

      /*BASIC CONFIG*/
html{
  height: 100%;
}
body{
  margin:0;
  padding:0;
  background-color: #f00;
}

      /* FONTS */
body, head{
    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Comfortaa', cursive;
}

      /* TEXT STYLES */
h1{
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  text-align: center;
  margin: .5em;
}

h2{
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  text-align: center;
  margin: .5em;
}

p{
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
  font-size: 35px;
}

      /* SIDE MENU */

aside{
  margin: 0 2em 0 0;
  width: 20%;
  position:fixed;
  padding: 0;
  height:100%;
  background-color: #424242;
  color:#dddddd;
}

nav ul {
  margin:0;
  padding:0;
}

nav ul li{
  /*removing the default style*/
  text-decoration: none;
  list-style-type: none;
}

nav ul li>a{   /*The  '>' only selects the IMMEDIATE CHILD*/
padding: 1em;
display: block;
margin:1em, .5em;
}

nav ul li>a:hover{
  background-color: #009eff;
}

nav ul li ul{
  margin-left: 2em;
}

nav ul li ul a:hover{
  background-color: #009eff;
}

figure{
  padding:0;
  margin:0;
}

figcaption{
  padding:0;
  margin:0;
}

      /* OTHER */
img{
  width:100%;
  margin:0;
}

main{
  top:0;
  overflow: hidden;
  height: 100%;
  margin: 0 0 0 20%;
  background-color: #555555;
  color:#fff;
}

#sideLogo{
  top:48px;
}

.cta{
  background-color: #009eff;
  border-radius: 2em;
  margin: 3em 35%;
  text-align: center;
  font-size: 2em;
  padding:.42em 0;

  display: block;
  width:30%;
}

      /* DESKTOP ONLY */
@media only screen and (min-width: 768px) {

  .cardgallery{ /*this class is to be replaced with a figure*/

  }

  #button_menu{display: none;}
  #sideLogo{display: block;}

  .illustration-S{

  }

  .illustration-M{

  }

  .illustration-L{

  }

}
